body{
    width:940px;
    margin:0 auto 0;
    padding: 0;
    /* background: url(../images/html-bg.png) repeat; */
    background: gray;
}
a{
	text-decoration: none;
	color: #000000;	
}
 /*header set */


.header{
	width: 940px;
    height: 50px;
    background: #ffffff;
    display: block;
}
.bg-logo{
	float: left;
	color: red;
	font-size: 25px;
	padding-left:20px;
	padding-right: 20px;
	line-height: 50px;
}
.header>ul{
	list-style: none;
	line-height: 50px;
	font-family: sans-serif;	
}
ul li{
	float:left;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
}
.bg-login-button{
	float: right;
    position: relative;
    right: 20px;
    bottom: -10px;
}
/*header set end*/

/*eassy issue*/
.bg-issue-form{
	padding: auto;
	margin:20px 150px;
}
.bg-eassy-issue{
	width: 100%;
	height: 200px;
	float: left;
}
.bg-eassy-title{
	background: #ffffff;
	border:#ebebeb solid 1px;
}
.bg-eassy-content{
	background: #ffffff;
	border:#ebebeb solid 1px;
}
.submit-button{
	margin-left: 50px;
	float: left;
}
/*eassy issue end*/

/*login seting*/
.bg-login{
	display: none;
	position: absolute;
	left: 90px;
	top: 50px;
	background:#ffffff;
	border: #ebebeb solid 1px;
	box-shadow: 0px 0px 20px #ddd;
	font-size: 20px;
	z-index: 999;
	width: 500px;
	height: 280px;
	margin:20px 320px;
}

.bg-login-title span{
	display: block;
	width: 40px;
	height: 40px;
	border-radius:20px;
	background: #ffffff;
	border:#ebebeb solid 1px;
	position: relative;
	right: -245px;
	top: -60px;
	line-height: 40px;
	font-size: 15px;
	color: black;
}
.bg-login-content{
	position: relative;
	top:-10px;
	padding-left: 20px;
}
.bg-login-input{
	margin: 15px 10px;
    line-height: 40px;
    font-size: 25px;
}
.bg-login-input label{
	float: left;
    text-align: right;
}
.bg-login-title{
	margin-top: 20px;
}
#bg-login-list{
	line-height: 35px;
	height: 35px;
	width: 280px;
	font-size: 20px;
	font-family: 
	border: #ebebeb 1px solid;
	text-indent: 5px;
}
.bg-login-submit{
	width: 100px;
    margin: 25px 180px 0px;
    line-height: 30px;
    font-size: 15px;
    border: #ebebeb 1px solid;
    text-align: center;
}
.bg-hidden{
	display: none;	
	width: 940px;
	height: 100%;
	position: absolute;
	top: 0px;
}
/*login end*/



/*eassy list*/
.bg-essay-list{
	border-radius:5px;
	background: #ffffff;
	border:#ebebeb solid 1px;
	margin: 30px auto;
	width: 800px;
	height: 200px;
	font-size: 18px;
	font-family: "sans-serif";
}
/* .bg-essay-list p{
	padding-left: 10px;
} */
/*eassy list end*/